:root {
    --md-primary-fg-color:        #5382B0;
}
.md-footer {
    --md-footer-fg-color:                white;
    --md-footer-fg-color--light:         white;
    --md-footer-fg-color--lighter:       white;
    --md-footer-bg-color:                #5382B0;
}


.md-typeset p { text-align: justify;}

.md-typeset h1 { font-size: 3em;
                 color: SteelBlue; }

.md-typeset h2 { border-bottom: 1px solid teal;
                 color: CadetBlue;}

.md-typeset h3 { color: CadetBlue;
                 font-style: italic; }

.md-typeset a  { color: cornflowerblue;
                 font-weight: bold; }

.md-typeset blockquote  { font-style: italic;  padding-left: 50px; }

.md-typeset .admonition  { font-size: 1em; font-family:Georgia }

.md-typeset__table thead{color: white;
                     background-color: #5382B0;
                     font-size: 1em;}

.md-typeset__table td{font-size: 1.2em;}

.md-typeset .hll { background-color: #DDDDDD;}

.sombra {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    
.conmarco {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
           padding: 10px;}

.sinmarco {box-shadow: none;}



